<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<img src="/img/team_logo.png" alt="Logo" class="logo">
<div class="button-container">
    <form action="/" method="get">
        <button type="submit">Logout</button>
    </form>
    <form action="/personal/services" method="get" class="form-container">
        <button type="submit">Personal Services</button>
    </form>
    <form action="/orders" method="post" class="form-container">
        <button type="submit">Personal Orders</button>
    </form>
    <form action="/orders/service" method="get" class="form-container">
        <button type="submit">Service Orders</button>
    </form>
</div>
<h2>Services</h2>

<div class="services-container">
    <div th:each="service : ${serviceView}" class="service-card">
        <div class="service-title" th:text="${service.shortDescription}"></div>
        <div class="service-info">
            <span>Type:</span> <span th:text="${service.type}"></span>
        </div>
        <div class="service-info">
            <span>Price:</span> $<span th:text="${service.price}"></span>
        </div>
        <div class="service-info">
            <span>Owner:</span> <span th:text="${service.email}"></span>
        </div>
        <div class="service-info">
            <span>Time:</span> <span th:text="${service.timeInHours}"></span>
        </div>
    </div>
</div>
</body>
</html>
