<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<img src="/img/team_logo.png" alt="Logo" class="logo">
<div class="button-container">
    <form action="/" method="get">
        <button type="submit">Logout</button>
    </form>
    <form action="/personal/services" method="get" class="form-container">
        <button type="submit">Personal Services</button>
    </form>
    <form action="/orders" method="get" class="form-container">
        <button type="submit">Personal Orders</button>
    </form>
    <form action="/orders/service" method="get" class="form-container">
        <button type="submit">Service Orders</button>
    </form>
</div>
<h2>Services</h2>
<table>
    <thead>
    <tr>
        <th>Service</th>
        <th>Type</th>
        <th>Price $</th>
        <th>Owner Email</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${serviceView}">
        <td th:text="${service.shortDescription}"></td>
        <td th:text="${service.type}"></td>
        <td th:text="${service.price}"></td>
        <td th:text="${service.email}"></td>
        <td th:text="${service.timeInHours}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
