<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<img src="/img/team_logo.png" alt="Logo" class="logo">
<div class="button-container">
    <form action="/" method="get">
        <button type="submit">Logout</button>
    </form>
    <form action="/services" method="get" class="form-container">
        <button type="submit">Services</button>
    </form>
    <form action="/orders" method="post" class="form-container">
        <button type="submit">Personal Orders</button>
    </form>
    <form action="/orders/form" method="get" class="form-container">
        <button type="submit">Create Order</button>
    </form>
</div>
<h2>Service Orders</h2>

<div class="services-container">
    <div th:each="order : ${personalServiceOrders}" class="service-card">
        <div class="service-title" th:text="${order.shortDescription}"></div>
        <div class="service-info">
            <span>Type:</span> <span th:text="${order.type}"></span>
        </div>
        <div class="service-info">
            <span>Price:</span> $<span th:text="${order.price}"></span>
        </div>
        <div class="service-info">
            <span>Address:</span> <span th:text="${order.address}"></span>
        </div>
        <div class="service-info">
            <span>Time:</span> <span th:text="${order.timeInHours}"></span>
        </div>
        <div class="service-info">
            <span>Client:</span> <span th:text="${order.firstName} + ' ' + ${order.lastName}"></span>
        </div>
        <div class="service-info">
            <span>Email:</span> <span th:text="${order.email}"></span>
        </div>
        <div class="service-info">
            <span>Phone:</span> <span th:text="${order.phoneNumber}"></span>
        </div>
    </div>
</div>
</body>
</html>
